/* Design hired card */
.card-info {
    margin: 30px 0px 20px 20px;
    background-color: #6047EC;
    padding: 10px;
    border-radius: 7px;
}

.card-info p { 
    text-align: left;
    color: white;
    font-size: 21px;
    font-weight: 600;
}